__pycache__/
*.py[cod]
.DS_Store

venv/
.venv/

build/
dist/
release/
.pyinstaller/
source_release/

*.egg-info/
.pytest_cache/
.mypy_cache/

* 2.spec
build 2.py

.github/workflows/

# Runtime output
output/
startup_logs/
stim/
